{% load static%}
<!DOCTYPE html>
<head>
	<title>TapSearch</title>
	<link rel="stylesheet" href="{% static 'splitter/new.css' %}">
</head>
<body>
	<div class="container">  
  <form id="contact" name="queryform" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h3 style="text-align: center;">TapSearch</h3>
    Select a PDF file: <input type="file" name="query1">
    <div>Or...</div>
    <fieldset>
      <textarea placeholder="Type your paragraphs here.... Separate each paragraph using 2 new lines...." tabindex="5" name="query2"></textarea>
    </fieldset>
    <h4>Enter query</h4>
    <fieldset>
      <textarea placeholder="Type your query(word) here...." tabindex="10" name="query3" value=""></textarea>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit">Submit</button>
    </fieldset>
  </form>
</div>
</body>
